.row {
    display: flex;
  }
  
.column {
   flex: 50%;
   padding: 10px;
   height: 100px; 
}

.config-red-btn {
    white-space: nowrap;
    display: inline-block;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#f73e3e, #8b1212);
    border: 1px solid #f73e3e;
    cursor: pointer;
    transition: 1s;
}

.config-green-btn {
    white-space: nowrap;
    display: inline-block;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#71ee40, #158515);
    border: 1px solid #71ee40;
    cursor: pointer;
    transition: 1s;
}